<div class="searchBar">
    <div class="container">
        <form action="/search" class="search_form" role="search" method ="POST">
    <input type="search" aria-lalbel="Search" id="searchInput" name="searchTerm" placeholder="Search for Blogs..."/>


        </form>
        <div id="searchClose">Close</div>
    </div>
</div>